@import "~bootstrap/scss/bootstrap.scss";
.container {
    width: 75%;
    min-height: 100%;
    margin: auto;
    //background-color: green;
}
.navbarcss {
    background-color: #343a40;
    width: 100%;
}
.div{
    height: 250px;
    margin: auto;

}
.jumcolor {
    background-color: lightgrey;
}
.card {
    width: 18rem;
    background-color:white;
    display: flex;
    margin: 20px;
    justify-content: space-between;
    text-align: center;

}
.card1{
    margin-left: 0px;

}
.card4{
    margin-right: 0px;

}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   padding-top: 15px;
   background-color: #343a40;
   color: white;
   text-align: center;
}
.container-fluid, .navbar, .navbar-expand-lg, .navbar-dark, .bg-dark, {
    padding-right: 0px;
    padding-left: 0px;
}